# Do not commit real values
ALPINE_ACR_ENDPOINT=alpinecontainerreg.azurecr.io
ALPINE_ACR_USERNAME=
ALPINE_ACR_PASSWORD=
ACRGATED_ACR_ENDPOINT=acrgated.azurecr.io
ACRGATED_ACR_USERNAME=
ACRGATED_ACR_PASSWORD=
